
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1" />
    <title>Index</title>
    <style>#map {height : 525px ;width : 970px; position : absolute; left : 350px;top: 65px; border-radius : 10px}
    
         
   body {           
        
    background-color:#0000FF}

    #date-info {position : absolute; top : 65px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 150px; width : 260px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;
    }

    #dateselect,#datetitle { font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 12px;background-color:white;
              margin : 2px;
    }

  #dateselector {
            position: absolute;
            top: 245px;
            left: 50px;
            border: 1px;
            border-style: solid;
            border-color: black;
            height: 100px;
            width: 260px;
            border-radius: 10px;
            padding: 10px;
            background-color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
        }



    

     #statistic {position : absolute; top : 375px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 20px; width : 260px; border-radius : 10px;padding : 10px;background-color :white;
               font-family: 'Open Sans', sans-serif;
              font-size : 11px; 

    }

    #infotext{position : absolute; top : 420px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 150px; width : 260px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;
    }

   
   
          
   
    
    </style>
</head>
<body>
    <ul>
       <li><img src="http://www.q2c.be/Content/Images/q2c-logo-neg.png" alt="test" style="width : 62px; height: 20px;"></li>
    </ul>


 

   <div id="map"></div>


   
    <div id="date-info">
    <h1 id="datetitle">Scan days</h1>
    <ul id="dates-list"></ul>
    </div>

    <div id=dateselector>
        <select name="dateselect" id="dateselect">
            <option value="">Select dates</option>
            <option value="">All dates</option>
        </select>


    </div>



   <div id="statistic"></div>

   <div id="infotext"></div>

                
                   
        
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1iRGmDMXSwy0py_TRHruCp49TO0eyuU"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">


        var markers = @Html.Raw(ViewBag.Jsonlist);
        var patrollers =@Html.Raw(ViewBag.Patrollistjson);
        var days = @Html.Raw(ViewBag.Daysjson);
        var dayschron = days.reverse();
        var colors = ["red","blue","yellow","green","orange"];
        var infowindow = new google.maps.InfoWindow();
        var gmarkers = [];
        var dateselect = document.getElementById("dateselect");
        var dateselected = dateselect.value;
        
       
        var renderOptions = {suppressMarkers : true};

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer(renderOptions);
        var directionmarkers = [];
        var waypts = [];
      

       
        //data for dateselector
        
             

            document.getElementById("datetitle").innerHTML="number of scandays:  " + dayschron.length;
        
            for (i=0;i<dayschron.length;i++) {

                var dayformatted = moment(dayschron[i]).format("DD/MM/YYYY");
                var datenode = document.createElement("li");
                var datetext = document.createTextNode( dayformatted);
                datenode.appendChild(datetext);
                document.getElementById("dates-list").appendChild(datenode);
            

            };
            

            for (i=0;i<dayschron.length;i++) {
                var dayformatted = moment(dayschron[i]).format("DD/MM/YYYY");

                $("#dateselect").append("<option value=" + dayformatted +">" +  dayformatted + "</option>")

            };

          

            $("#dateselect").on('change',function() {

                dateselected = this.value;

                for (i=0; i<markers.length; i++) {

                    marker = gmarkers[i];
                    dayformatted =moment(marker.title).format("DD/MM/YYYY");
                    
                   
                   
                
            
        
            
          


       
        //make map and add marker 
        function makemap()

        {
            var mapOptions =    {
                center: new google.maps.LatLng(51.20858,3.227961),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };


            map = new google.maps.Map(document.getElementById("map"), mapOptions);

          

            for (i = 0; i < markers.length; i++) {
                addMarker(markers[i]);}

            google.maps.event.addListener(map,'idle',function(){
                showVisibleMarkers();

            })

            for (i = 0; i < markers.length; i++) {
                                  
               
                for (j=0;j< (markers.length-i);j++) {
                    var pos = {lat : markers[i].HTQU_Latitude, lng : markers[i].HTQU_Longitude};

                    var posnext =  {lat : markers[j].HTQU_Latitude, lng : markers[j].HTQU_Longitude};
                   
                    if (pos == posnext) {
                        var a = 360.0 / markers.length;
                        var newLat = pos.lat() + -.00004 * Math.cos((+a*i) / 180 * Math.PI);  //x
                        var newLng = pos.lng() + -.00004 * Math.sin((+a*i) / 180 * Math.PI);  //Y
                        var latLng = new google.maps.LatLng(newLat,newLng);
                    }


                }

                var markerCluster = new MarkerClusterer(map, gmarkers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            };

        }

        function showVisibleMarkers() {
            var bounds = map.getBounds();
            count = 0;

            for (var i=0; i< markers.length;i++) {

                var marker = gmarkers[i];
                if(bounds.contains(marker.getPosition())===true) {
                    count++

                }
            }
            $("#statistic").html(count + " reads in actual zoom");

        }
         
        function addMarker(marker) {

            var category = moment(marker.HTQU_CreatedOn).format("DD/MM/YYYY");
            var pos = new google.maps.LatLng(marker.HTQU_Latitude,marker.HTQU_Longitude);


            var datetimestring = moment(marker.HTQU_CreatedOn).format("MMMM Do YYYY, h:mm:ss a");

            var title = datetimestring;
            var content = datetimestring;

            var iconcolor = colors[patrollers.indexOf(marker.HTQU_PatrollerMOBI_ID)]


            marker = new google.maps.Marker({

                title : title,
                position : pos,
                category : category,

                map: map,
                animation : google.maps.Animation.DROP,
                icon : 'http://www.google.com/intl/en_us/mapfiles/ms/micons/' + iconcolor + '-dot.png',


            });

            gmarkers.push(marker);

            //Marker click listener
            google.maps.event.addListener(marker, 'click', function () {

                infowindow.setOptions({
                    content : this.title,
                                })

                infowindow.open(map, marker);

                var posstring = String(pos);


                console.log(posstring)
                document.getElementById("infotext").innerHTML="<b>Data selected marker</b><br><br><u>Date and time : </u><br>"+ title + "<br><br> <u>Coordinates : </u><br>" + posstring.match(/[^()]+/)
                 })

        };




        makemap();






    </script>
</body>
</html>

    
