
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1" />
    <title>Index</title>
    <style>#map {height : 525px ;width : 970px; position : absolute; left : 350px;top: 65px; border-radius : 10px}
    select {position : absolute;
                left:50px;
                top:65px;
                font-size: 16px;
                display: inline-block;
                border-radius : 10px

    }
  



   
        body {
            
        
    background-color: white}

    #infotext{position : absolute; top : 370px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 200px; width : 260px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              padding : 10px;
    }

    #statistic {position : absolute; top : 140px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 200px; width : 260px; border-radius : 10px;padding : 10px



    }
   
    
    </style>
</head>
<body>
   

                <div id="map">
                  </div>

               
                <select  name="scancars" id="scancars">
                    <option value="">Select scanpatrol</option>
                    <option value="">All scanpatrollers</option>
                </select>

    <div id="statistic">
    
    </div>


    <div id="infotext"></div>

                
                   
        
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1iRGmDMXSwy0py_TRHruCp49TO0eyuU"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">


        var markers = @Html.Raw(ViewBag.Jsonlist);
        var patrollers =@Html.Raw(ViewBag.Patrollistjson);
        var colors = ["red","blue","yellow","green","orange"];
        var infowindow = new google.maps.InfoWindow();
        var gmarkers = [];
        var scancars = document.getElementById("scancars");
        var scancarselected = scancars.value;
        var renderOptions = {suppressMarkers : true};

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer(renderOptions);
        var directionmarkers = [];
        var waypts = [];

        for (i=1;i<=patrollers.length;i++) {
            $('#scancars').append ("<option value="+patrollers[i]+">patroller" + i  + "</option>")

        }

        //filter scancars
        $('#scancars').on('change',function() {

           scancarselected = this.value;

            for (i=0; i<markers.length; i++) {

                marker = gmarkers[i];
                if(marker.category == scancarselected  || scancarselected.length === 0  ) {
                    marker.setVisible(true);}

                else{ marker.setVisible(false);
                }
            }
        })






        function makemap()

        {
            var mapOptions =    {
                center: new google.maps.LatLng(51.20858,3.227961),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };


            map = new google.maps.Map(document.getElementById("map"), mapOptions);

          

            for (i = 0; i < markers.length; i++) {
                addMarker(markers[i]);}


            for (i = 0; i < markers.length; i++) {
                                  
               
                for (j=0;j< (markers.length-i);j++) {
                    var pos = {lat : markers[i].HTQU_Latitude, lng : markers[i].HTQU_Longitude};

                    var posnext =  {lat : markers[j].HTQU_Latitude, lng : markers[j].HTQU_Longitude};
                   
                    if (pos == posnext) {
                        var a = 360.0 / markers.length;
                        var newLat = pos.lat() + -.00004 * Math.cos((+a*i) / 180 * Math.PI);  //x
                        var newLng = pos.lng() + -.00004 * Math.sin((+a*i) / 180 * Math.PI);  //Y
                        var latLng = new google.maps.LatLng(newLat,newLng);
                    }


                }

                var markerCluster = new MarkerClusterer(map, gmarkers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            };

        }
         
        function addMarker(marker) {

            var category = marker.HTQU_PatrollerMOBI_ID;
            var pos = new google.maps.LatLng(marker.HTQU_Latitude,marker.HTQU_Longitude);


            var datetimestring = moment(marker.HTQU_CreatedOn).format("MMMM Do YYYY, h:mm:ss a");

            var title = datetimestring;
            var content = datetimestring;

            var iconcolor = colors[patrollers.indexOf(marker.HTQU_PatrollerMOBI_ID)]


            marker = new google.maps.Marker({

                title : title,
                position : pos,
                category : category,

                map: map,
                animation : google.maps.Animation.DROP,
                icon : 'http://www.google.com/intl/en_us/mapfiles/ms/micons/' + iconcolor + '-dot.png',


            });

            gmarkers.push(marker);

            //Marker click listener
            google.maps.event.addListener(marker, 'click', function () {

                infowindow.setOptions({
                    content : this.title,
                                })

                    infowindow.open(map, marker);

                    document.getElementById("infotext").innerHTML="<b>Data selected marker</b><br><br><u>Date and time : <u><br>"+ title + "<br><br> <u>Coordinates : </u><br>" + pos
                 })

        };




        makemap();






    </script>
</body>
</html>

    
