
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1" />
    <title>Index</title>
    <style>#map {height : 800px ;width : 700px; position : absolute; left : 400px;top: 50px}
    select {position : absolute;
                left:50px;
                top:50px;
                font-size: 16px;
                display: inline-block;

    }
  



    p {font-size : 20px}
    body {
    background-color: blue}
   
    
    </style>
</head>
<body>
   

                <div id="map">
                   </div>

               
                <select  id="menu" onchange="filterMarkers(this.value);">
                    <option selected disabled>Select scanpatrol</option>
                    <option value="">All scanpatrollers test</option>
                </select>

                
                   
        
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1iRGmDMXSwy0py_TRHruCp49TO0eyuU"></script>
    <script type="text/javascript">


        var markers = @Html.Raw(ViewBag.Jsonlist);
        var patrollers =@Html.Raw(ViewBag.Patrollistjson);
        var colors = ["red","blue","yellow","green","orange"];

        var gmarkers = [];
       


        function makemap()
        
        {
            var mapOptions =    {
                center: new google.maps.LatLng(51.20458,3.227961),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };


            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                addMarker(markers[i]);
            }
           
                        
        }
       
        function addMarker(marker) {

            var category = marker.HTQU_PatrollerMOBI_ID;
            var pos = new google.maps.LatLng(marker.HTQU_Latitude,marker.HTQU_Longitude);
                                     
            
            var datestring = moment(marker.HTQU_CreatedOn).format("MMMM Do YYYY, h:mm:ss a");
            var title = datestring;
            var content = datestring;
            
            var iconcolor = colors[patrollers.indexOf(marker.HTQU_PatrollerMOBI_ID)]
            var infowindow = new google.maps.InfoWindow ();

            marker = new google.maps.Marker({
                
                title : title,
                position : pos,
                category : category,
                content : content,
                map: map,
                animation : google.maps.Animation.DROP,
                icon : 'http://www.google.com/intl/en_us/mapfiles/ms/micons/' + iconcolor + '-dot.png',
               
                
            });

            gmarkers.push(marker);

            //Marker click listener
            google.maps.event.addListener(marker, 'click', (function (marker, content) {
                return function () {
                    console.log('Gmarker gets pushed');
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                    map.panTo(this.getPosition());
                    map.setZoom(15);
                }
            })(marker, content));

        };

        filterMarkers = function(category) {

            for (i=0; i<markers.length; i++) {

                marker = gmarkers[i];
                if(marker.category == category  || category.length === 0  ) {
                    marker.setVisible(true);}

                else{ marker.setVisible(false);
                }
            }
        }

        makemap();

                   
          
        

        for (i=1;i<=patrollers.length;i++) {
          $('#menu').append ("<option value="+patrollers[i]+">patroller" + i  + "</option>")
            
        }

    </script>
</body>
</html>

    
