
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1" />
    <title>Index</title>
    <style>
        
 
    
         
   body {           
        
    background-color:#0000FF}

    #date-info {position : absolute; top : 65px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 150px; width : 170px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 12px;
              padding : 6px 1px;background-color:white;
             
        
           
    }


    #date-info-content {overflow : auto;border-radius :8px;
                        height : 150px; width : 170px; 



    }
   

    #datetitle{ font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              background-color:white;
           
    }


    #dateselect { font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 0px;background-color:white;
              margin : 0px;
    }

  #dateselector {
            position: absolute;
            top: 245px;
            left: 50px;
            border: 1px;
            border-style: solid;
            border-color: black;
            height: 100px;
            width: 150px;
            border-radius: 10px;
            padding: 10px;
            background-color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
        }



    

     #statistic {position : absolute; top : 375px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 20px; width : 150px; border-radius : 10px;padding : 10px;background-color :white;
               font-family: 'Open Sans', sans-serif;
              font-size : 11px; 

    }

    #infotext{position : absolute; top : 420px;left : 50px ;
              border : 1px;border-style : solid; border-color : black;
              height : 150px; width : 150px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;
    }

    #chart {position : absolute; top : 65px;left : 1035px ;
              border : 1px;border-style : solid; border-color : black;
              height : 300px; width : 280px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;
    }
    select { border-radius : 10px}
   
    #piechart {position : absolute; top : 390px;left : 1035px ;
              border : 1px;border-style : solid; border-color : black;
              height : 220px; width : 280px; border-radius : 10px;
              font-family: 'Open Sans', sans-serif;
              font-size : 11px;
              padding : 10px;background-color:white;


    }
   
          
   
    
    </style>
</head>
<body>
    <ul>
       <li><img src="http://www.q2c.be/Content/Images/q2c-logo-neg.png" alt="test" style="width : 62px; height: 20px;"></li>
    </ul>


 

   <div id="map"></div>


   
    <div id="date-info" >
        <div id="date-info-content">
            <h1 id="datetitle">Scan days</h1>
            <ul id="dates-list"></ul>
        </div>
    </div>

    <div id=dateselector>
        <select name="dateselect" id="dateselect">
            <option value="">Select dates</option>
            <option value="">All dates</option>
        </select>


    </div>



   <div id="statistic"></div>

   <div id="infotext"></div>

    <div id="chart">
        <canvas id="mychart" width="400" height="400"></canvas>

    </div> 
    <div id="piechart">
        <canvas id="mypiechart"></canvas>



    </div>             
                   
        
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe1iRGmDMXSwy0py_TRHruCp49TO0eyuU"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">


        var markers = @Html.Raw(ViewBag.Jsonlist);
        var patrollers =@Html.Raw(ViewBag.Patrollistjson);
        var days = @Html.Raw(ViewBag.Daysjson);
        var dayschron = days.reverse();
        var colors = ["red","blue","yellow","green","orange"];
        var infowindow = new google.maps.InfoWindow();
        var gmarkers = [];
        var vmarkers=[];
        var dateselect = document.getElementById("dateselect");
        var dateselected = dateselect.value;
           

       
        //data for dateselector
                     
            document.getElementById("datetitle").innerHTML="number of scandays:  " + dayschron.length;
        
            for (i=0;i<dayschron.length;i++) {

                var dayformatted = moment(dayschron[i]).format("DD/MM/YYYY");
                var datenode = document.createElement("li");
                var datetext = document.createTextNode( dayformatted);
                datenode.appendChild(datetext);
                document.getElementById("dates-list").appendChild(datenode);
            

            };
            

            for (i=0;i<dayschron.length;i++) {
                var dayformat1 = moment(dayschron[i]).format("DD/MM/YYYY");
                console.log(dayformat1)
                $("#dateselect").append("<option value=" + dayformat1 +">" +  dayformat1 + "</option>")

            };
                

       
          


        var ctx = document.getElementById("mychart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:daysformatted,
                datasets: [{
                    label: '# of Reads',
                    data: countday,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        //code for chart data analyse by "day of the week"
        var dow = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"] 
        var countdayoftheweek = [];
        for (i=0;i<7;i++) { 
            
            var weekdag = dow[i];
            var counter=0; 
                
            for (j=0; j<markers.length; j++) {
           
                marker = markers[j];
                                    
                if (moment(marker.HTQU_CreatedOn).format('dddd')==weekdag) { counter=counter+1}

            }
            dayperc = ((counter/markers.length)*100).toFixed(1);
            countdayoftheweek.push(dayperc);

        };
        
        var canvas = document.getElementById("mypiechart")
        var ctx = canvas.getContext("2d");


        var mypieChart = new Chart (ctx, {
            type : 'pie',
            data : {
                labels : ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
                datasets : [{
                    backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",
                    "#34495e"
                    ],
                    label : "percentage",
                    data : countdayoftheweek
                }]
            },options : { responsive :true,maintainAspectRatio : false,
                title : {display : true, text : "% reads by weekday",padding : 2},legend :{labels :{ boxWidth: 20}},
                tooltips :{ callbacks: {
                    label: function(tooltipItem, data) {
                        var allData = data.datasets[tooltipItem.datasetIndex].data;
                        var tooltipLabel = data.labels[tooltipItem.index];
                        var tooltipData = allData[tooltipItem.index];
               
                        return tooltipLabel + ': ' + tooltipData +  '%';
                    }
                }}


            }}) ;             





    </script>
</body>
</html>

    
